# Topic ideas - Data

---

Group name: Group D

---

*Replace the italic texts with your descriptions*

## Name of topic idea 1

### Data source
https://data.europa.eu/data/datasets/3b960a00-4b5f-4e45-a149-5a048f7ee837-stadt-zurich?locale=en
The data was collected weekly in 2019


### Data characterisitcs

These data allow a very precise comparison between the planned (SOLL) and the effective (IST) driving times of each vehicle of the Verkehrsbetriebe Zürich (VBZ). The arrivals and departures of each vehicle on its line are measured in seconds.

### Question

How can the traffic situation be improved in Zürich to ensure a more sustainable way of travelling during rush hours?

### Overview of data

In [1]:
import pandas as pd 
df = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd_2019/download/Fahrzeiten_SOLL_IST_20190203_20190209.csv')
df.head()

,linie,richtung,betriebsdatum,fahrzeug,kurs,seq_von,halt_diva_von,halt_punkt_diva_von,halt_kurz_von1,datum_von,...,fahrweg_id,fw_no,fw_typ,fw_kurz,fw_lang,umlauf_von,halt_id_von,halt_id_nach,halt_punkt_id_von,halt_punkt_id_nach
0,2,1,03.02.19,2072,6,1,6030,0,DEP4,03.02.19,...,99439,15,2,15,DEP4 - KALK,189382,2251,1906,47032,10563
1,2,1,03.02.19,3033,3,1,478,0,BEZI,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,1306,1502,44135,44530
2,2,1,03.02.19,3033,3,5,601,0,KANB,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,2228,2590,49163,46896
3,2,1,03.02.19,3033,3,4,1861,0,PARA,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,1528,2228,44152,49163
4,2,1,03.02.19,3033,3,3,2396,0,SIHS,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,2657,1528,10574,44152

## Name of topic idea 2

### Data source

https://data.europa.eu/data/datasets/22985306-bundesamt-fur-statistik-bfs?locale=de
The data was collected yearly from 1980-2021


### Data characterisitcs

 University degrees by university, department group, exam level, and gender.

### Question

Is there a correlation between courses of study and gender between 1980 and 2021?

### Overview of data

In [3]:
df_2 = pd.read_csv('https://www.bfs.admin.ch/bfsstatic/dam/assets/22985307/master', delimiter=';')
df_2.head()

   PERIOD  UNI  FIELD  LEVEL  SEX  VALUE
0    1980    1      1      1    1     32
1    1980    1      1      1    2     22
2    1980    1      1      4    0      1
3    1980    1      1      4    1     11
4    1980    1      1      4    2      5